* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: black; 
}

p {
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 300;
	text-align: center;
	margin-top: .5em;
}

.nav {
	background-color: white;
	height: 6em;
	margin: 0 auto;
	padding: 1em;
}

h1 {
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
}

.container {
	margin: 0 auto;
	width: 65%;
}

.search {
	margin: 0 auto;
	padding: 2em 0;
	overflow: hidden;
}

.input-field {
	width: 80%;
	height: 3em;
	padding: 1em;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: black;
	float: left;
}

.input-field:focus {
	outline: none;
}

.search-btn {
	width: 20%;
	height: 2em;
	background-color: #f0141e;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	text-transform: uppercase;
	border: 2px solid white; 
	float: right;
	cursor: pointer;
	outline: none;
}

.search-btn:hover {
	color: #f0141e;
	background-color: white;
}

.character-image {
	display: none;
	background-color: #f0141e;
	height: 400px;
}

.character-image img {
	height: 400px;
	width: 400px;
	float: left;
}

.character-image h1 {
	color: white;
	font-size: 3em;
	padding: 3.3em 0;
}

.comic-container {
	display: none;
	text-align: center;
}

.comic-copy {
	display: none;
}

.comic-copy h1 {
	color: white;
	margin-top: 1em;
}

.comic-copy p {
	color: white;
	font-weight: 400;
	margin-bottom: 2em;
}

.comic {
	width: 216px;
	display: inline-block;
	vertical-align: top;
	margin: .5em;
}

.comic img {
	width: 216px;
	height: 324px;
}

.comic p {
	color: white;
	font-weight: 400;
	line-height: 1.4em;
	height: 4em;
	width: 100%;
}

.error {
	display: none;
	margin: 0 auto;
}

.error img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.error p {
	color: white;
	font-weight: 400;
	line-height: 1.4em;
	text-align: center;
	margin-top: 2em;
	margin-left: 12em;
	margin-right: 12em;
}
